*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build/
/.idea/
/gradle.properties
/AndroidStudy.iml
/gradlew
/build.gradle
/app/
/settings.gradle
/gradle/
/gradlew.bat
/.gradle/
